.main {
  height: auto;
  min-height: 100vh;
  background: linear-gradient(180deg, #2A2958 0%, #030429 70.8%);

  .asideInner {
    position: relative;
    border-radius: 8px;
    background: rgba(26, 25, 68, 0.6);
    min-height: calc(100vh - 90px);

    .asideInnerHead {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background-color: #1A1944;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 600;
      font-family: 'Oswald', sans-serif;
      margin-bottom: 12px;

      img {
        margin-right: 10px;
      }
    }

    .asideInnerContent {
      padding: 0 20px;
      padding-bottom: 30px;

      .tilesField {
        position: relative;
        img {
          width: 100%;
        }

        .lock {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0.2;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;

          img{
            max-width: 120px;
          }
        }
      }

      .moderatorModeText {
        display: flex;
        align-items: center;
        font-size: 18px;

        svg {
          margin-right: 16px;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: -8px;
      top: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, #3F3B83 0%, #23214E 100%);
      opacity: 0.8;
    }

    &.asideInnerRight:after {
      right: inherit;
      left: -8px;
    }
  }
}
.gameWait {
  margin-top: 60px;
  background-image: url('./img/gameWaitBackground.png');
  background-size: cover;
  background-position: bottom;
  padding: 60px 20px;
  min-width: 456px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 580px;

  h1 {
    text-align: center;
  }

  .MuiListItem-root {
    border-bottom: none;
  }
}

.shiftIndicator {
  position: absolute;
  left: 40px;
  top: 85px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;

  &:after {
    content: '';
    position: absolute;
    width: 60px;
    background-color: #434B71;
    height: 2px;
    top: calc(50% - 1px);
    margin-left: 20px;
  }
}

.playerResources {
  position: absolute;
  left: 40px;
  top: 120px;
}

.controlButtonsToggle {
  display: none;
  z-index: 10;
  position: relative;
}

.controlButtons {
  position: absolute;
  bottom: -100%;
  opacity: 0;
  display: none;
  background-color: #2A2958;
  padding-top: 32px;
  padding-bottom: 40px;
  width: 100%;
  text-align: center;

  &.controlButtonsBlockShown {
    transition: 0.3s;
    bottom: 0;
    opacity: 1;
  }
  button{
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 26px;
    background: #00ABAB;
    color: #fff;
    border: none;

    &:first-child {
      margin-right: 20px;
    }
  }
}
.controlButtonsOpenIcon,
.controlButtonsCloseIcon {
  opacity: 0.6;
  display: none;
  border-left: 1px solid #414283;
  border-right: 1px solid #414283;
  border-top: 1px solid #414283;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 10px);
  padding: 1px 3px;

  svg {
    width: 12px;
    height: 12px;
  }
}
.controlButtonsCloseIcon {
  bottom: initial;
  transform: rotate(180deg);
  height: 16px;
  top: 0;
}

@media (max-width: 768px) {

  .playersFieldWrapper {
    cursor: not-allowed;
    opacity: 0.5;
    position: relative;
    width: 100%;

    .tilesField {
      > img {
        opacity: 0.2;
        width: 100%;
      }
    }

    .lock {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      opacity: 0.8;

      img {
        max-width: 120px;
      }
    }
  }

  .controlButtonsToggle {
    display: block;
    text-align: center;
  }

  .controlButtons,
  .controlButtonsOpenIcon,
  .controlButtonsCloseIcon{
    display: block;
  }
  .shiftIndicator {
    left: 89px;
    top: 32px;
    z-index: 9999;
    font-size: 10px;
    text-transform: none;
    color: #C3C0ED;
    font-family: inherit;
    font-weight: 500;
    opacity: 0.6;

    &:after {
      display: none;
    }
  }


  .gameWait {
    margin-top: 80px;
    min-width: 100%;
    min-height: 500px;
  }
  .main {
    .asideInner {
      background-color: #2A2958;

      &:after,
      &:before {
        display: none;
      }
      min-height: 0;

      .asideInnerContent {
        padding-bottom: 0;
      }
    }
  }
  .mobileAnswersMode {
    display: none;
  }
}

.readyCheckbox {
  position: absolute;
  right: 40px;
  top: 85px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;

  input {
    margin-left: 5px;
  }
}

@media (max-width: 769px) {
  .readyCheckbox {
    top: 65px;
  }
  .playerResources {
    left: 15px;
    top: 67px;
  }
}
