.account {
    max-width: 400px;

    border-radius: 8px;
    border-top: 1px solid #6D8EAF;
    border-right: 1px solid #6D8EAF;
    border-left: 1px solid #6D8EAF;
    background: linear-gradient(180deg, rgba(24, 23, 81, 0.36) 0%, rgba(9, 8, 46, 0.00) 100%);
    backdrop-filter: blur(4px);
}
