.rollPopup {
  height: 160px;
  background-color: black;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: fixed;
  bottom: 0;
  width: 800px;
  left: calc(50% - 400px);
}

.blockShow {
  opacity: 1;
}
