.playerName {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

@media (max-width: 768px) {
  header.MuiAppBar-root {
    background-color: #2A2958;
    box-shadow: none;
  }

  .playerName {
    font-size: 20px;
    position: relative;
    bottom: 9px;
    font-family: inherit;
  }
}



